#container {
    padding-top: 3%;
    padding-right: 2%;
}

#page_head {
    margin-bottom: 2em;
}

.divEmpInfo {
    width: 100%;
    margin-bottom: 2em;
}

.tbl_EmpInfo {
    width: 50%;
    border: 1px solid black;
    border-spacing: 0;
    border-collapse: collapse;
}

.tbl_EmpInfo td {
    width: 50%;
    font-size:medium ;
    color: black;
    font-weight: bold;
    border: 1px solid black;
    padding-right: 5%;
}

#div_Required_Mods {
    font-size: medium;
    color: black;
    font-weight: bold;
    margin-top: 2em;
}

.divAddGoal {
    margin-bottom: 2em;
}

.Form_Table_css {
    width: 70%;
}

.btnAddObjective_css {
    margin-right: 50px;
}

.div_gvwSetObjectives {
    width: 70%;
}


.div_gvwSetObjectives th {
    text-align: center;
}

.div_gvwSetObjectives td {
    padding-right: 5px !important;
}


.div_btnSubmit {
    margin-top: 2em;
    text-align: center;
}

/* Table borders style (cross-browser) */

.BorderedTable {
    border: 1px solid black !important;
    border-spacing: 0 !important;
    border-collapse: collapse !important;
}

    .BorderedTable th td {
        border: 1px solid black !important;
        text-align: center !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
        font-size:xx-large;
    }
.PaddingStyle{
    padding-left:5%;
    padding-right:5%;
}
