<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <p dir=rtl>
        السلام عليكم ورحمة الله وبركاته<br />
        تحية طيبة وبعد<br />
        قام الموظف/الموظفة بوضع الأهداف الفردية الخاصة به لعام #Active_Set_Goals_Year#<br />
        وتم اعتمادها مبدئيا بواسطة المدير المباشر<br />
        الرجاء القيام بمراجعة الأهداف واعتمادها بشكل نهائى من خلال الرابط التالى :<br />
        #Link#
    </p>

</body>
</html>